{% extends 'base/nav-bar.html' %}
{% load static %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
<body>
	<div class="register-box">
		<h1>Login</h1>
		<div class="register-form">
			<form method="post">
				{% csrf_token %}
                <div class="form-items">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-items">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
				<button>Submit</button>
			</form>
		</div>
		<a href="{% url 'register' %}">Don't have account, register</a>
	</div>
</body>
{% endblock %}