{% extends 'base/nav-bar.html' %}
{% load static %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">

<body>
	<div class="register-box">
		<h1>Register</h1>
		<div class="register-form">
			<form method="post">
                {% csrf_token %}
                <div class="form-items">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-items">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-items">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
				<button>Submit</button>
			</form>
		</div>
		<a href="{% url 'login' %}">Have account, login</a>
	</div>
</body>
{% endblock %}